.container {
    background-color: #262626;
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 1rem;
}
.w50{
    width: 70%;
}
label{
    float: left;
    font-size: 1.4rem;
}
.heig{
    height: 2.6rem;
}
.btn{
    width: 250px;
}
