<div class="container">
    <h2 style="letter-spacing: .4rem; color: #9fa8da;">About Us</h2>
    <div class="grid mt-6">
        <div class="col-6">
            <h4 style="text-align: left;">About Us - Symphony Institute</h4>
            <p style="text-align: justify;">
                Welcome to Symphony Institute, a premier hub for quality education and skill development. At Symphony, we believe in empowering individuals with the knowledge and tools they need to thrive in today’s competitive world. Our mission is to bridge the gap between learning and application, helping students and professionals achieve their full potential.

With a team of experienced instructors and a commitment to excellence, we specialize in offering practical, hands-on training in diverse fields such as Microsoft Office, Web Development, Programming Languages, and Mobile Application Development. Our state-of-the-art facilities and industry-relevant curriculum ensure that you gain the skills and confidence to excel in your career.

At Symphony Institute, learning is more than acquiring knowledge—it’s about building a brighter future. Join us and become a part of a community where education meets innovation!
            </p>
    
            
        </div>
        <div class="col-6">
            <div class=" flex justify-content-center align-items-center">
                <div class='planet-container'>
                    <div class='night'></div>
                    <div class='day'></div>
                    <div class='clouds'></div>
                    <div class='inner-shadow'></div>
                </div>
            </div>
    
        </div>
    </div>
</div>