.container {
    background-color: #262626;
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 1rem;
}
label{
    float: left;
    font-size: 1.4rem;
}
.heig{
    height: 2.6rem;
}
.btn{
    width: 150px;
    float: right;
}