<div class="container">
    <h2
        class="mb-4"
        style="letter-spacing: 0.4rem; color: #9fa8da; text-align: center"
    >
        Frequently Asked Question
    </h2>
    <div class="faq_List">
        <div
            class="faq"
            [class.active]="activeFaqIndex === 0"
            (click)="toggleActive(0)"
        >
            <div class="quest">
                <p>How to join the course?</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    To join a course at Symphony Ltd., you can visit the nearest
                    branch of the institute or check their official website for
                    enrollment details. You will need to select the desired
                    course, complete the registration form, and pay the
                    applicable course fees. For further assistance, their
                    support staff is available to guide you through the process.
                </p>
            </div>
        </div>

        <div
            class="faq"
            [class.active]="activeFaqIndex === 1"
            (click)="toggleActive(1)"
        >
            <div class="quest">
                <p>Why to join the institute?</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    You should join Symphony Ltd. because it is a
                    well-established private institute specializing in IT and
                    software industry certifications. The institute offers:
                    <br />
                    1- Comprehensive Resources: Access to preparation materials,
                    assignments, and library facilities.<br />
                    2- Practical Learning: Lab facilities and extra lab hours to
                    ensure hands-on experience.<br />
                    3- Expert Guidance: 24-hour faculty support for lab sessions
                    and personalized assistance.<br />
                    4- Reputation: A proven track record of success and multiple
                    branches for convenient access.<br />
                    5- Career Opportunities: Certifications in networking, Java,
                    SQL Servers, Oracle, and more, which enhance career
                    prospects in the IT industry.<br />
                    6- Their focus on quality training and practical exposure
                    makes them a top choice for IT-related certifications.
                </p>
            </div>
        </div>

        <div
            class="faq"
            [class.active]="activeFaqIndex === 2"
            (click)="toggleActive(2)"
        >
            <div class="quest">
                <p>When will be Entrance Examinations Conducted?</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    The schedule for entrance examinations at Symphony Ltd.
                    depends on the specific course and branch location.
                    Generally, the institute announces the dates for entrance
                    exams a few weeks in advance. You can find the exact dates
                    by:<br>1- Visiting the nearest branch and inquiring with the
                    administration. <br>2- Checking the official website or contacting
                    their support team. <br>3- Subscribing to their notifications for
                    updates regarding entrance exams. <br>Ensure you register early
                    to secure your spot for the desired course.
                </p>
            </div>
        </div>

        <div
            class="faq"
            [class.active]="activeFaqIndex === 3"
            (click)="toggleActive(3)"
        >
            <div class="quest">
                <p>Can I use the Lab facilities after my class hours? Will there be any extra hidden charges?</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    Yes, you can use the lab sessions even after your class hours. There will be no charges during the course days i.e., during the course period if you want to use the lab sessions after the class hours we do provide the lab session and the labs will be kept opened till 9 PM in the evening. But yes if you want to use the lab session after your course completion, then it will be charged based on the scenario like 1000$ if opted at the time of registering and 1500$ if opted after the completion of the course
                </p>
            </div>
        </div>

        <div
            class="faq"
            [class.active]="activeFaqIndex === 4"
            (click)="toggleActive(4)"
        >
            <div class="quest">
                <p>How can I apply for the entrance exam? </p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    once the entrance exams are entitled, one need to visit the centre for applying it through paper and fill all the necessary details through online. On the application form one should chose which course he/she wanted to pursue.
                </p>
            </div>
        </div>

        <!-- <div
            class="faq"
            [class.active]="activeFaqIndex === 5"
            (click)="toggleActive(5)"
        >
            <div class="quest">
                <p>Will there be any fees for the entrance exam?</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    Yes there will be and it will be available on the application form
                </p>
            </div>
        </div> -->


        <div
            class="faq"
            [class.active]="activeFaqIndex === 6"
            (click)="toggleActive(6)"
        >
            <div class="quest">
                <p>Will there be any fees for the entrance exam?</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    Yes there will be and it will be available on the application form, Yes there will be and it will be available on the application form Yes there will be and it will be available on the application form
                </p>
            </div>
        </div>

        <div
            class="faq"
            [class.active]="activeFaqIndex === 6"
            (click)="toggleActive(6)"
        >
            <div class="quest">
                <p>How to make the payment?</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="ans">
                <p>
                    payment can be done through draft, or through cheque or through cash. For making the payment through cash, one needs to come to one of the centre of the institute, and make the payment there itself. Once the payment is done (through cash or through DD), the student will be provided with the receipt with a receipt number. This receipt number is to be inputted in the application form. For the payments done through cheque and DD, one need to enter the DD number and the cheque number, bank details, etc. are to be entered on the application form and the cheque is to be pinned to the application form. Only once the payment is received the student’s application will be accepted. Once the application is accepted, the student is mailed with the acknowledgement form along with the details of the examination, subject chosen, date and time of exam, and the roll number
                </p>
            </div>
        </div>
    </div>
</div>
