<div class="container">
    <h2 style="letter-spacing: 0.4rem; color: #9fa8da; text-align: center">
        Contact Us
    </h2>
    <div class="grid">
        <div class="col-3">
            <div class="cont">
                <h6>Clifton</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>D.H.A Phase V</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Cantt Road</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>5 Star Chowrangi</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>

        <div class="col-3">
            <div class="cont">
                <h6>Gizri</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Gulshan-e-Iqbal</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Gulistan-e-Jauhar</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Surjani Town</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>


        <div class="col-3">
            <div class="cont">
                <h6>Korangi 5</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Malir</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Nazimabad</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>University Road</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>

        <div class="col-3">
            <div class="cont">
                <h6>Quaid-e-Millat Road</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Landhi 6</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Orangi Town 5</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Liaquatabad</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>

        <div class="col-3">
            <div class="cont">
                <h6>Federal B Area</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Hassan Square</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Karsaz</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        <div class="col-3">
            <div class="cont">
                <h6>Model Colony</h6>
            <p><i class="pi pi-phone"></i>&nbsp;&nbsp;&nbsp;(21) 234567</p>
            </div>
        </div>
        
    </div>
</div>
