<div class="container">
    <h2 style="letter-spacing: .4rem; color: #9fa8da;">User Profile</h2>
    <div class="grid">
        <div class="col-12 flex justify-content-center mt-3">
            <div class="card w50 p-fluid">
                <div class="form-logo mb-5 flex align-items-center justify-content-center">
                    <img src="../../../../assets/demo/images/avatar/profile.jpg" alt="Logo" height="150" style="border-radius: 50%; border: 3px solid white; box-shadow: rgba(255, 251, 251, 0.865) 0px 3px 8px;" class="mr-2">
                </div>
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <div class="field w-full">
                            <label htmlFor="name1">Student Id : &nbsp;123456</label><br>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field w-full">
                            <label htmlFor="name1">Name : &nbsp; Ali Azlan</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field w-full">
                            <label htmlFor="name1">Father Name : &nbsp; Jameel Ahmed</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field w-full">
                            <label htmlFor="name1">Email : &nbsp; azlan&#64;gmail.com</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field w-full">
                            <label htmlFor="name1">Mobile No : &nbsp; 03108693664</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field w-full">
                            <label htmlFor="name1">Address : &nbsp; H-123, Karachi</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

