<div class="videoContainer">
    <video src="../../../../assets/demo/videos/Symphony Institute Of Technology (3) (1).mp4" autoplay muted loop></video>
</div>
<div class="container">
    <div class="grid mt-6">
        <div class="col-6">
            <div class="img">
                <img src="../../../../assets/demo/images/galleria/rb_38796.png" alt="">
            </div>
            
        </div>
        <div class="col-6">
            <h4>New Courses</h4>
            <p style="text-align: justify;">
                At Symphony Institute, we are dedicated to offering a wide range of new courses designed to equip students with the skills required to excel in today’s competitive job market. Our courses cover high-demand fields, including data science, artificial intelligence, mobile app development, cybersecurity, and more. We strive to keep our curriculum relevant to industry needs, ensuring that students are prepared for the latest technological advancements and trends. Whether you’re looking to build a career in software development, digital marketing, or creative fields such as content creation and graphic design, Symphony Institute has the right course for you.<br>


            </p>
            <div class="btn"  >
                <p-button
                    icon="pi pi-arrow-right"
                    [rounded]="true"
                   (click)="navigateToNewCourses()"
                   
                    style="cursor: pointer;"
                />
            </div>
        </div>
    </div>
    <div class="grid mt-6">
        <div class="col-6">
            <h4>Short Courses</h4>
            <p style="text-align: justify;">
                Symphony Institute offers a variety of short courses designed to help individuals quickly acquire essential skills in high-demand fields. These courses focus on practical knowledge and hands-on experience, enabling students to gain expertise in areas such as digital marketing, graphic design, web development, and more. Whether you're looking to enhance your career or switch to a new field, our short courses provide the perfect opportunity to learn valuable skills in a short time.<br>

Our short courses are designed to be flexible and industry-relevant, ensuring that students gain the most up-to-date knowledge. These intensive programs are perfect for professionals looking to upskill or anyone interested in learning new concepts that can be immediately applied in the workplace. With our expert instructors and practical approach to teaching, you can expect a comprehensive learning experience that prepares you for real-world challenges.

            </p>
            <div class="btn">
                <p-button
                    icon="pi pi-arrow-right"
                    [rounded]="true"
                    (click)="navigateToShortCourses()"
                />
            </div>
        </div>
        <div class="col-6">
            <div class="img">
                <img src="../../../../assets/demo/images/galleria/rb_2149327718.png" alt="">
            </div>
        </div>
    </div>
    <div class="grid mt-6">
        <div class="col-6">
            <div class="img">
                <img src="../../../../assets/demo/images/galleria/rb_39805.png" alt="">
            </div>
            
        </div>
        <div class="col-6">
            <h4>Labs</h4>
            <p style="text-align: justify;">
                Symphony Limited offers practical training in Networking, Programming, Database Management, Cybersecurity, and Cloud Computing, equipping students with hands-on skills for industry readiness. Students gain expertise in tools like Java, Python, SQL Server, and platforms like AWS and Azure.<br>


            </p>
            <div class="btn">
                <p-button
                    icon="pi pi-arrow-right"
                    [rounded]="true"
                    (click)="navigateToLabs()"
                />
            </div>
        </div>
    </div>
    <div class="container mt-6">
        <h2>Symphony cover every <br> major cities in world.</h2>
    </div>
    <div class="grid mt-3">
        <div class="col-4" style="border-right: 2px dotted white;">
            <h1 class="head">05</h1>
            <h4 style="text-align: center;">Continents</h4>
        </div>
        <div class="col-4" style="border-right: 2px dotted white;">
            <h1 class="head">40</h1>
            <h4 style="text-align: center;">Countries</h4>
        </div>
        <div class="col-4">
            <h1 class="head">2500</h1>
            <h4 style="text-align: center;">Centres</h4>
        </div>
    </div>
    <div class="grid flex align-items-center justify-content-center mt-6">
        <p style="font-size: 2rem; font-weight: bolder;"><span style="color: green;">20</span> Centres Across <span class="sp-img"><img width="30px" style="vertical-align: middle; margin-top: 2px;" src="../../../../assets/demo/images/galleria/pakistan-icon.png" alt=""></span> Pakistan</p>
    </div>

    <div class="grid mt-6">
        <div class="col-6">
            <div class="img">
                <img src="../../../../assets/demo/images/galleria/rb_7130.png" alt="">
            </div>
            
        </div>
        <div class="col-6">
            <h4>Our Vision</h4>
            <p style="text-align: justify;">
                At Symphony Institute, our vision is to empower students with the knowledge, skills, and tools they need to succeed in an ever-evolving world. We aim to be a beacon of excellence in education, where each student is provided with a transformative learning experience that combines academic rigor, practical insights, and personal growth. Our vision is to foster innovation, creativity, and critical thinking that drives not only career success but also the ability to contribute meaningfully to society.<br>

We strive to build a dynamic learning environment where students are encouraged to challenge the status quo, embrace new technologies, and lead with purpose. By offering state-of-the-art facilities, industry-relevant curricula, and mentorship from seasoned professionals, we prepare our students to thrive in a rapidly changing world. Ultimately, our vision is to be a leading institute, shaping the future leaders, thinkers, and innovators of tomorrow.


            </p>
        </div>
    </div>
    <div class="grid mt-6">
        <div class="col-6">
            <h4>Job Placements</h4>
            <h1 style="text-align: left;">Help students get a <br> better placement.</h1>
            <p style="text-align: justify;">
                We have an active Placements Cell dedicated to fulfill market requirements with quality IT HR, we not only conduct placements activities in collaboration with industry leaders but are also involved in preparing our student to meet industry expectations.
            </p>
            <ul style="text-align: left;">
                <li>Placement Workshops</li>
                <li>Soft Skills Sessions</li>
                <li>Interview Sessions</li>
                <li>Semester End Projects</li>
            </ul>
            
        </div>
        <div class="col-6">
            <div class="img">
                <img src="../../../../assets/demo/images/galleria/rb_24598.png" alt="">
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <div class="social-media">
                <a href="https://facebook.com/profile.php?id=61567681665743" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://x.com/Scharique/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/scharique_najam/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://linkedin.com/in/m-shariq-najam" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/alnajamulshariq" target="_blank"><i class='bx bxl-tiktok'></i></a>
            </div>
            
        </div>
    </div>
</div>