/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system

$primary-color: #ff5722;
$primary-text-color: #ffffff;

@import "assets/layout/styles/layout/layout.scss";
@import "assets/layout/styles/theme/md-dark-indigo/theme.css";
@import "primeicons/primeicons.css";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

.rd-btn>.p-element>.p-radiobutton>.p-radiobutton-box{
    height: 15px;
    width: 15px;
}
.rd-btn>.p-element>.p-radiobutton{
    height: 15px;
    width: 15px;
}

.hook>.p-splitter{
    border-width:1px 1px 0px 1px !important;
    border-color: var(--surface-border) !important;
    border-style: solid !important;
    border-radius:12px 12px 0 0 !important;
}

.hook-tl>.p-timeline>.p-timeline-event>.p-timeline-event-separator>span{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    cursor: pointer;
}
.p-timeline-event-opposite{
    display: none;
}
.p-timeline-event-content{
    display: none;
}
.phook>.p-password>.p-inputtext{
    width: 15rem;
}

.p-dialog-header-close-icon{
    color: red;
}

.mdHook>.p-dialog-mask>.p-element>.p-dialog-header>.p-dialog-title{
    color: #9fa8da;
}